
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



.title {
    margin-top: 20px;
  }
  .main-list {
    margin: 40px 0 0 20px;
  }
  
  .main-item a {
    font-size: 18px;
  }
  


  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    height: 696px;
    padding: 24px 156px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 24px;
    background-color: #fff;
  }
  
  .gallery-item {
    list-style: none;
  }
  
  .gallery-image {
    width: 360px;
    height: 200px;
  }
  
  .feedback-form {
    width: 408px;
    margin: 0 auto;
    padding: 24px;
 
    font-family: Montserrat;
    line-height: 1.5;
    letter-spacing: 0.04em;
  
    border-radius: 8px;

  }
  
  .feedback-form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .feedback-form label:first-child {
    margin-bottom: 8px;
  }
  
  .feedback-form input {
    width: 328px;
    height: 24px;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .feedback-form {
    width: 360px;
    height: 80px;
  }
  
  
  .feedback-form input:active {
    font-family: Montserrat;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
  
  .feedback-form button {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 8px;
background-color: black;
    cursor: pointer;
    border: none;
  }
  